*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
body{
    background-color: rgb(239, 234, 234);
    height: 100vh;
    width: 100vw;
    margin:20px;
}
.task{
   background-color: rgb(202, 198, 198);
   min-height: 70px;
   color: blue;
}
#label{
    color:rgb(93, 93, 167);
    margin-bottom: 5px;;
}

.middle{
    display: flex;
    height: 70vh;
    background-color: beige;
}
.form-page{
    display: flex;
    /* flex-direction: column; */
    flex: 1;
    background-color: rgb(195, 197, 198);
    justify-content: center;
    align-items: center;
    /* gap: 20px; */
}
.task-name{
    flex: 1;
    border-color: rgb(227, 227, 227);
}
.All-input{
    display: flex;
    height: 2rem;
    width: 15rem;
    /* gap: 10px; */
    border: 0;
    border-radius: 8px;
}
.button{
    display: flex;
    justify-content: center;
    background-color: rgb(112, 186, 233);
    border: 0;
    border-radius: 8px;
    font-size: 20px;
    color: white;
}
